In [48]:
import os
import pandas as pd
import glob
import numpy as np


ds = pd.read_csv('combined_indicators.csv')
ds

C:\Users\motta\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (1,5) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Location,Period,Indicator,Dim1,First Tooltip,Dim2,Hale Expectency,Life expectany,Unnamed: 6,% OF HALE in life expectancy
0,Afghanistan,2016,Probability (%) of dying between age 30 and ex...,Both sexes,29.8,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,2016,Probability (%) of dying between age 30 and ex...,Male,31.8,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,2016,Probability (%) of dying between age 30 and ex...,Female,27.7,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,2015,Probability (%) of dying between age 30 and ex...,Both sexes,29.8,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,2015,Probability (%) of dying between age 30 and ex...,Male,31.9,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
150560,Western Pacific,2010,Life expectancy at birth (years),Male,72.52,NaN,NaN,NaN,NaN,NaN
150561,Western Pacific,2010,Life expectancy at birth (years),Female,78.75,NaN,NaN,NaN,NaN,NaN
150562,Western Pacific,2000,Life expectancy at birth (years),Both sexes,72.42,NaN,NaN,NaN,NaN,NaN
150563,Western Pacific,2000,Life expectancy at birth (years),Male,69.8,NaN,NaN,NaN,NaN,NaN
150564,Western Pacific,2000,Life expectancy at birth (years),Female,75.33,NaN,NaN,NaN,NaN,NaN

In [49]:
ds =ds[ds.Dim1 != 'Male']
ds =ds[ds.Dim1 != 'Female']
ds.Dim1.value_counts()

Both sexes    38916
Name: Dim1, dtype: int64

In [50]:
ds.nunique()

Location                          207
Period                            142
Indicator                          36
Dim1                                1
First Tooltip                   47306
Dim2                                8
Hale Expectency                    24
Life expectany                     24
Unnamed: 6                         24
% OF HALE in life expectancy        4
dtype: int64

In [51]:
ds.Dim2.value_counts()

Total                                    7719
Urban                                    6381
Rural                                    5801
Chronic obstructive pulmonary disease     366
Ischaemic heart disease                   366
Stroke                                    366
Trachea, bronchus, lung cancers           366
Lower respiratory infections              366
Name: Dim2, dtype: int64

In [52]:
ds =ds[ds.Dim2 != 'Urban']
ds =ds[ds.Dim2 != 'Rural']
ds =ds[ds.Dim2 != 'Chronic obstructive pulmonary disease']
ds =ds[ds.Dim2 != 'Ischaemic heart disease']

ds =ds[ds.Dim2 != 'Stroke']
ds =ds[ds.Dim2 != 'Trachea, bronchus, lung cancers']
ds =ds[ds.Dim2 != 'Lower respiratory infections']

In [53]:
ds.nunique()

Location                          207
Period                            142
Indicator                          36
Dim1                                1
First Tooltip                   44547
Dim2                                1
Hale Expectency                    24
Life expectany                     24
Unnamed: 6                         24
% OF HALE in life expectancy        4
dtype: int64

In [54]:
ds.Period.value_counts()

2015    2283
2015    2165
2010    2116
2010    2070
2016    2063
        ...
1953      38
1952      37
1951      33
1950      31
1920       1
Name: Period, Length: 142, dtype: int64

In [55]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 76437 entries, 0 to 150562
Data columns (total 10 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Location                      76437 non-null  object
 1   Period                        76437 non-null  object
 2   Indicator                     76437 non-null  object
 3   Dim1                          37086 non-null  object
 4   First Tooltip                 76389 non-null  object
 5   Dim2                          7719 non-null   object
 6   Hale Expectency               48 non-null     float64
 7   Life expectany                48 non-null     float64
 8   Unnamed: 6                    48 non-null     float64
 9   % OF HALE in life expectancy  48 non-null     float64
dtypes: float64(4), object(6)
memory usage: 6.4+ MB

In [56]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 76437 entries, 0 to 150562
Data columns (total 10 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Location                      76437 non-null  object
 1   Period                        76437 non-null  object
 2   Indicator                     76437 non-null  object
 3   Dim1                          37086 non-null  object
 4   First Tooltip                 76389 non-null  object
 5   Dim2                          7719 non-null   object
 6   Hale Expectency               48 non-null     float64
 7   Life expectany                48 non-null     float64
 8   Unnamed: 6                    48 non-null     float64
 9   % OF HALE in life expectancy  48 non-null     float64
dtypes: float64(4), object(6)
memory usage: 6.4+ MB

In [57]:
ds.isnull().sum()

Location                            0
Period                              0
Indicator                           0
Dim1                            39351
First Tooltip                      48
Dim2                            68718
Hale Expectency                 76389
Life expectany                  76389
Unnamed: 6                      76389
% OF HALE in life expectancy    76389
dtype: int64

In [58]:
word = '-'
new_df = ds[~ds["Period"].str.contains(word, na=False)]

In [59]:
list = new_df.Period.unique()
list

array(['2016', '2015', '2010', '2005', '2000', '2017', '2014', '2013',
       '2011', '2009', '2008', '2007', '2006', '2003', '2012', '2004',
       '2002', '2001', '2018', '2019', '1999', '1998', '1997', '1996',
       '1995', '1994', '1993', '1992', '1991', '1990', '1989', '1988',
       '1987', '1986', '1985', '1984', '1983', '1982', '1981', '1980',
       '1979', '1978', '1977', '1976', '1975', '1974', '1973', '1972',
       '1971', '1970', '1969', '1968', '1967', '1966', '1965', '1964',
       '1963', '1962', '1961', '1960', '1959', '1958', '1957', '1956',
       '1955', '1954', '1953', '1952', '1951', '1950', 1975, 2019, 2018,
       2017, 2016, 2015, 2014, 2013, 2012, 2011, 2010, 2009, 2008, 2007,
       2006, 2005, 2004, 2003, 2002, 2001, 2000, 1999, 1998, 1997, 1996,
       1995, 1994, 1993, 1992, 1991, 1990, 1989, 1988, 1987, 1986, 1985,
       1984, 1983, 1982, 1981, 1980, 1979, 1978, 1977, 1976, 1974, 1973,
       1972, 1971, 1970, 1969, 1968, 1967, 1966, 1965, 1964, 1963, 1962,
       1961, 1960, 1959, 1958, 1957, 1956, 1955, 1954, 1953, 1952, 1951,
       1950, 1920], dtype=object)

In [60]:
list = ds.Period.unique()
list

array(['2016', '2015', '2010', '2005', '2000', '2017', '2014', '2013',
       '2011', '2009', '2008', '2007', '2006', '2003', '2012', '2004',
       '2002', '2001', '2018', '2019', '2013-2017', '1999', '1998',
       '1997', '1996', '1995', '1994', '1993', '1992', '1991', '1990',
       '1989', '1988', '1987', '1986', '1985', '1984', '1983', '1982',
       '1981', '1980', '1979', '1978', '1977', '1976', '1975', '1974',
       '1973', '1972', '1971', '1970', '1969', '1968', '1967', '1966',
       '1965', '1964', '1963', '1962', '1961', '1960', '1959', '1958',
       '1957', '1956', '1955', '1954', '1953', '1952', '1951', '1950',
       1975, 2019, 2018, 2017, 2016, 2015, 2014, 2013, 2012, 2011, 2010,
       2009, 2008, 2007, 2006, 2005, 2004, 2003, 2002, 2001, 2000, 1999,
       1998, 1997, 1996, 1995, 1994, 1993, 1992, 1991, 1990, 1989, 1988,
       1987, 1986, 1985, 1984, 1983, 1982, 1981, 1980, 1979, 1978, 1977,
       1976, 1974, 1973, 1972, 1971, 1970, 1969, 1968, 1967, 1966, 1965,
       1964, 1963, 1962, 1961, 1960, 1959, 1958, 1957, 1956, 1955, 1954,
       1953, 1952, 1951, 1950, 1920], dtype=object)

In [61]:
new_df['Period']= pd.to_numeric(new_df['Period'])
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 76254 entries, 0 to 150562
Data columns (total 10 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Location                      76254 non-null  object
 1   Period                        76254 non-null  int64
 2   Indicator                     76254 non-null  object
 3   Dim1                          37086 non-null  object
 4   First Tooltip                 76206 non-null  object
 5   Dim2                          7719 non-null   object
 6   Hale Expectency               48 non-null     float64
 7   Life expectany                48 non-null     float64
 8   Unnamed: 6                    48 non-null     float64
 9   % OF HALE in life expectancy  48 non-null     float64
dtypes: float64(4), int64(1), object(5)
memory usage: 6.4+ MB

<ipython-input-61-fb5696619372>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['Period']= pd.to_numeric(new_df['Period'])

In [62]:
new_df.sort_values(['Indicator', 'Period'], ascending = False)

,Location,Period,Indicator,Dim1,First Tooltip,Dim2,Hale Expectency,Life expectany,Unnamed: 6,% OF HALE in life expectancy
120494,Afghanistan,2019,Under-five mortality rate (probability of dyin...,Both sexes,60.27 [47.44-74.62],NaN,NaN,NaN,NaN,NaN
120668,Albania,2019,Under-five mortality rate (probability of dyin...,Both sexes,9.68 [9.07-10.35],NaN,NaN,NaN,NaN,NaN
120794,Algeria,2019,Under-five mortality rate (probability of dyin...,Both sexes,23.26 [22.51-24.03],NaN,NaN,NaN,NaN,NaN
120992,Andorra,2019,Under-five mortality rate (probability of dyin...,Both sexes,2.97 [0.85-10.97],NaN,NaN,NaN,NaN,NaN
121097,Angola,2019,Under-five mortality rate (probability of dyin...,Both sexes,74.69 [34.55-139.3],NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
4882,Uzbekistan,2000,Adolescent birth rate (per 1000 women aged 15-...,NaN,21.1,NaN,NaN,NaN,NaN,NaN
4898,Venezuela (Bolivarian Republic of),2000,Adolescent birth rate (per 1000 women aged 15-...,NaN,93.3,NaN,NaN,NaN,NaN,NaN
4912,Viet Nam,2000,Adolescent birth rate (per 1000 women aged 15-...,NaN,24.0,NaN,NaN,NaN,NaN,NaN
4917,Yemen,2000,Adolescent birth rate (per 1000 women aged 15-...,NaN,83.0,NaN,NaN,NaN,NaN,NaN
4923,Zambia,2000,Adolescent birth rate (per 1000 women aged 15-...,NaN,160.4,NaN,NaN,NaN,NaN,NaN

In [63]:
ds1 = (new_df.sort_values(['Indicator', 'Period'], ascending = False)
         .drop_duplicates(['Indicator', 'Location'], keep='first'))

#ds1.sort_values(['Indicator', 'Period'], ascending = False)
ds1.shape

(6110, 10)

In [64]:
ds1.sample(50)

,Location,Period,Indicator,Dim1,First Tooltip,Dim2,Hale Expectency,Life expectany,Unnamed: 6,% OF HALE in life expectancy
19270,Malawi,2017,Population using at least basic sanitation ser...,NaN,26.23,Total,NaN,NaN,NaN,NaN
120202,Congo,2017,UHC index of essential service coverage,NaN,39,NaN,NaN,NaN,NaN,NaN
96674,Latvia,2019,Neonatal mortality rate (per 1000 live births),Both sexes,1.85 [1.42-2.43],NaN,NaN,NaN,NaN,NaN
81144,Benin,2019,Life expectancy at birth (years),Both sexes,63.43,NaN,NaN,NaN,NaN,NaN
83137,Afghanistan,2017,Maternal mortality ratio (per 100 000 live bir...,NaN,638 [427-1010],NaN,NaN,NaN,NaN,NaN
24019,Bhutan,2017,Population using at least basic drinking-water...,NaN,96.73,NaN,NaN,NaN,NaN,NaN
88663,Timor-Leste,2018,"Medical doctors (per 10,000)",NaN,7.22,NaN,NaN,NaN,NaN,NaN
11309,Vanuatu,2016,Ambient and household air pollution attributab...,Both sexes,135.6 [121.7-148.6],Total,NaN,NaN,NaN,NaN
120304,Kuwait,2017,UHC index of essential service coverage,NaN,76,NaN,NaN,NaN,NaN,NaN
144095,Philippines,2019,Under-five mortality rate (probability of dyin...,Both sexes,27.28 [20.67-36.12],NaN,NaN,NaN,NaN,NaN
36513,Kenya,2016,Crude suicide rates (per 100 000 population),Both sexes,0.0,NaN,NaN,NaN,NaN,NaN
138548,Malaysia,2019,Under-five mortality rate (probability of dyin...,Both sexes,8.55 [8.14-8.99],NaN,NaN,NaN,NaN,NaN
87198,Fiji,2015,"Medical doctors (per 10,000)",NaN,8.6,NaN,NaN,NaN,NaN,NaN
27420,Bhutan,2014,Population with basic handwashing facilities a...,NaN,79.81,Total,NaN,NaN,NaN,NaN
32050,Brazil,2018,Proportion of population with primary reliance...,NaN,95,NaN,NaN,NaN,NaN,NaN
117590,Guyana,2018,Age-standardized prevalence of current tobacco...,Both sexes,12.2,NaN,NaN,NaN,NaN,NaN
42043,Malaysia,2019,Healthy life expectancy (HALE) at birth (years),Both sexes,65.66,NaN,NaN,NaN,NaN,NaN
22611,Timor-Leste,2017,Population using at least basic sanitation ser...,NaN,53.52,Total,NaN,NaN,NaN,NaN
25185,Italy,2017,Population using at least basic drinking-water...,NaN,99.38,NaN,NaN,NaN,NaN,NaN
126275,Chad,2019,Under-five mortality rate (probability of dyin...,Both sexes,113.8 [86.37-150.4],NaN,NaN,NaN,NaN,NaN
8321,Liberia,2016,Ambient and household air pollution attributab...,Both sexes,170.2 [155.1-184.6],Total,NaN,NaN,NaN,NaN
79347,Belize,2018,Reported number of people requiring interventi...,NaN,2158,NaN,NaN,NaN,NaN,NaN
83623,Cabo Verde,2017,Maternal mortality ratio (per 100 000 live bir...,NaN,58 [45-75],NaN,NaN,NaN,NaN,NaN
31216,The former Yugoslav Republic of Macedonia,2018,Births attended by skilled health personnel (%),NaN,99.9,NaN,NaN,NaN,NaN,NaN
42583,Sierra Leone,2019,Healthy life expectancy (HALE) at birth (years),Both sexes,52.92,NaN,NaN,NaN,NaN,NaN
33779,Namibia,2018,Proportion of population with primary reliance...,NaN,46,NaN,NaN,NaN,NaN,NaN
110099,Ukraine,2014,Population with household expenditures on heal...,NaN,7.76,Total,NaN,NaN,NaN,NaN
900,Gabon,2016,Probability (%) of dying between age 30 and ex...,Both sexes,14.4,NaN,NaN,NaN,NaN,NaN
120152,Bangladesh,2017,UHC index of essential service coverage,NaN,48,NaN,NaN,NaN,NaN,NaN
92087,Russian Federation,2016,Mortality rate attributed to exposure to unsaf...,Both sexes,0.1,NaN,NaN,NaN,NaN,NaN
7850,Italy,2016,Ambient and household air pollution attributab...,Both sexes,48.67 [36.92-64.41],Total,NaN,NaN,NaN,NaN
15423,Brunei Darussalam,2015,Population using at least basic sanitation ser...,NaN,96.35,Total,NaN,NaN,NaN,NaN
88389,Senegal,2017,"Medical doctors (per 10,000)",NaN,0.69,NaN,NaN,NaN,NaN,NaN
14598,Argentina,2016,Population using at least basic sanitation ser...,NaN,94.26,Total,NaN,NaN,NaN,NaN
11726,Barbados,2018,Total (recorded+unrecorded) alcohol per capita...,Both sexes,9.69,NaN,NaN,NaN,NaN,NaN
6161,China,2016,Ambient and household air pollution attributab...,Both sexes,112.7 [86.27-137.5],Total,NaN,NaN,NaN,NaN
32848,Ghana,2018,Proportion of population with primary reliance...,NaN,28,NaN,NaN,NaN,NaN,NaN
115555,Slovenia,2017,Population using safely managed sanitation ser...,NaN,83.04,Total,NaN,NaN,NaN,NaN
27711,Comoros,2016,Population with basic handwashing facilities a...,NaN,15.57,Total,NaN,NaN,NaN,NaN
90617,Myanmar,2016,Mortality rate attributed to unintentional poi...,Both sexes,1.41,NaN,NaN,NaN,NaN,NaN
106816,Bolivia (Plurinational State of),2016,"Pharmacists (per 10,000)",NaN,2.25,NaN,NaN,NaN,NaN,NaN
109080,Jamaica,2004,Population with household expenditures on heal...,NaN,10.2,Total,NaN,NaN,NaN,NaN
24951,Guinea,2017,Population using at least basic drinking-water...,NaN,48.72,NaN,NaN,NaN,NaN,NaN
1635,Montenegro,2016,Probability (%) of dying between age 30 and ex...,Both sexes,20.6,NaN,NaN,NaN,NaN,NaN
12395,Fiji,2018,Total (recorded+unrecorded) alcohol per capita...,Both sexes,3.32,NaN,NaN,NaN,NaN,NaN
47893,Oman,2019,Incidence of tuberculosis (per 100 000 populat...,NaN,8.5 [7.3-9.8],NaN,NaN,NaN,NaN,NaN
79671,Egypt,2018,Reported number of people requiring interventi...,NaN,5066393,NaN,NaN,NaN,NaN,NaN
29558,Tunisia,2017,Population with basic handwashing facilities a...,NaN,78.69,Total,NaN,NaN,NaN,NaN
6194,Colombia,2016,Ambient and household air pollution attributab...,Both sexes,34.37 [26.94-43.33],Total,NaN,NaN,NaN,NaN
13469,Philippines,2018,Total (recorded+unrecorded) alcohol per capita...,Both sexes,6.86,NaN,NaN,NaN,NaN,NaN

In [65]:
ds1 =ds1[ds1['First Tooltip'] != 'No data']

In [66]:
word = '<'
ds1 = ds1[~ds1["First Tooltip"].str.contains(word, na=False)]

ds1.shape

(6053, 10)

In [67]:
# cleaning out numbers that have values between brackets
ds1['First Tooltip'] = ds1['First Tooltip'].str.split('[', 1).str[0].str.strip()
ds1['First Tooltip'] = pd.to_numeric(ds1['First Tooltip'])

In [68]:
ds1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6053 entries, 120494 to 3339
Data columns (total 10 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Location                      6053 non-null   object
 1   Period                        6053 non-null   int64
 2   Indicator                     6053 non-null   object
 3   Dim1                          2484 non-null   object
 4   First Tooltip                 6047 non-null   float64
 5   Dim2                          1051 non-null   object
 6   Hale Expectency               6 non-null      float64
 7   Life expectany                6 non-null      float64
 8   Unnamed: 6                    6 non-null      float64
 9   % OF HALE in life expectancy  6 non-null      float64
dtypes: float64(5), int64(1), object(4)
memory usage: 520.2+ KB

In [69]:
ds1.nunique()

Location                         207
Period                            29
Indicator                         35
Dim1                               1
First Tooltip                   3233
Dim2                               1
Hale Expectency                    6
Life expectany                     6
Unnamed: 6                         6
% OF HALE in life expectancy       3
dtype: int64

In [70]:
ds1['% OF HALE in life expectancy'].value_counts()

87.0    3
86.0    2
88.0    1
Name: % OF HALE in life expectancy, dtype: int64

In [71]:
ds2 = ds1[['Location' , 'Period' , 'Indicator' , 'First Tooltip']]

In [72]:
ds3 = ds2[ds2['First Tooltip'].notna()]
ds3.nunique()

Location          207
Period             29
Indicator          35
First Tooltip    3233
dtype: int64

In [73]:
ds4 = ds3.dropna(how='any')

In [74]:
ds4.nunique()

Location          207
Period             29
Indicator          35
First Tooltip    3233
dtype: int64

In [78]:
ds5 = ds4.pivot_table(columns='Indicator', index='Location', values='First Tooltip').reset_index()
ds5

Indicator,Location,Adolescent birth rate (per 1000 women aged 15-19 years),Age-standardized prevalence of current tobacco smoking among persons aged 15 years and older,Ambient and household air pollution attributable death rate (per 100 000 population),"Ambient and household air pollution attributable death rate (per 100 000 population, age-standardized)",Births attended by skilled health personnel (%),Crude suicide rates (per 100 000 population),"Dentists (per 10,000)",Estimated road traffic death rate (per 100 000 population),Healthy life expectancy (HALE) at birth (years),...,Population using safely managed sanitation services (%),Population with basic handwashing facilities at home (%),Population with household expenditures on health greater than 10% of total household expenditure or income (SDG 3.8.2) (%),Population with household expenditures on health greater than 25% of total household expenditure or income ( SDG indicator 3.8.2) (%),"Probability (%) of dying between age 30 and exact age 70 from any of cardiovascular disease, cancer, diabetes, or chronic respiratory disease",Proportion of population with primary reliance on clean fuels and technologies (%),Reported number of people requiring interventions against NTDs,Total (recorded+unrecorded) alcohol per capita (15+) consumption,UHC index of essential service coverage,Under-five mortality rate (probability of dying by age 5 per 1000 live births)
0,Afghanistan,62.0,NaN,95.12,211.10,58.8,0.0,0.034,15.1,53.95,...,NaN,37.75,14.63,2.01,29.8,37.0,14834701.0,0.210,37.0,60.27
1,Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Albania,15.9,29.2,104.70,67.99,99.8,0.0,3.380,13.6,69.08,...,39.86,NaN,16.72,4.95,17.0,80.0,47.0,7.170,59.0,9.68
3,Algeria,9.7,18.8,40.33,49.68,96.6,0.0,3.660,NaN,66.39,...,17.69,83.74,NaN,NaN,14.2,95.0,10909.0,0.950,78.0,23.26
4,Americas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202,Western Pacific,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
203,Yemen,67.2,20.9,89.75,194.20,44.7,0.0,0.210,NaN,57.53,...,NaN,49.54,15.83,4.16,30.6,60.0,12339767.0,0.051,42.0,NaN
204,Yemen Arab Republic (until 1990),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
205,Zambia,135.0,14.7,63.39,127.20,63.3,0.0,0.012,NaN,54.40,...,NaN,13.94,0.29,0.01,17.9,13.0,12032435.0,6.540,53.0,NaN
206,Zimbabwe,77.6,13.9,66.67,133.00,86.0,0.0,0.072,34.7,53.07,...,NaN,36.79,2.09,0.71,19.3,29.0,10660813.0,4.670,54.0,NaN

In [81]:
((ds5.isnull().sum()/ds5.isnull().count()) * 100).sort_values(ascending=False)

Indicator
Population using safely managed sanitation services (%)                                                                                          57.487923
Population with basic handwashing facilities at home (%)                                                                                         53.623188
Malaria incidence (per 1 000 population at risk)                                                                                                 47.826087
New HIV infections (per 1000 uninfected population)                                                                                              44.927536
Married or in-union women of reproductive age who have their need for family planning satisfied with modern methods (%)                          42.512077
Age-standardized prevalence of current tobacco smoking among persons aged 15 years and older                                                     28.019324
Population with household expenditures on health greater than 25% of total household expenditure or income  ( SDG indicator 3.8.2) (%)           26.086957
Population with household expenditures on health greater than 10% of total household expenditure or income (SDG 3.8.2) (%)                       26.086957
Estimated road traffic death rate (per 100 000 population)                                                                                       15.458937
Infant mortality rate (probability of dying between birth and age 1 per 1000 live births)                                                        14.492754
Under-five mortality rate (probability of dying by age 5 per 1000 live births)                                                                   14.492754
Ambient and household air pollution attributable death rate (per 100 000 population, age-standardized)                                           11.594203
Ambient and household air pollution attributable death rate (per 100 000 population)                                                             11.594203
Mortality rate attributed to exposure to unsafe WASH services (per 100 000 population) (SDG 3.9.2)                                               11.594203
UHC index of essential service coverage                                                                                                          11.594203
Healthy life expectancy (HALE) at birth (years)                                                                                                  11.111111
Crude suicide rates (per 100 000 population)                                                                                                     11.111111
Mortality rate attributed to unintentional poisoning (per 100 000 population)                                                                    11.111111
Maternal mortality ratio (per 100 000 live births)                                                                                               11.111111
Probability (%) of dying between age 30 and exact age 70 from any of cardiovascular disease, cancer, diabetes, or chronic respiratory disease    11.111111
Pharmacists  (per 10,000)                                                                                                                        10.628019
Births attended by skilled health personnel (%)                                                                                                  10.144928
Total (recorded+unrecorded) alcohol per capita (15+) consumption                                                                                  9.178744
Life expectancy at birth (years)                                                                                                                  8.212560
Proportion of population with primary reliance on clean fuels and technologies (%)                                                                7.729469
Dentists (per 10,000)                                                                                                                             7.729469
Medical doctors (per 10,000)                                                                                                                      6.280193
Hepatitis B surface antigen (HBsAg) prevalence among children under 5 years (%)                                                                   6.280193
Nursing and midwifery personnel (per 10,000)                                                                                                      6.280193
Incidence of tuberculosis (per 100 000 population per year)                                                                                       5.797101
Population using at least basic drinking-water services (%)                                                                                       5.797101
Population using at least basic sanitation services (%)                                                                                           5.797101
Reported number of people requiring interventions against NTDs                                                                                    5.797101
Adolescent birth rate (per 1000 women aged 15-19 years)                                                                                           5.797101
Neonatal mortality rate (per 1000 live births)                                                                                                    4.347826
Location                                                                                                                                          0.000000
dtype: float64

In [83]:
ds6 = ds5.drop(columns=['Population using safely managed sanitation services (%)' , 
                        'Population with basic handwashing facilities at home (%)',
                       'Malaria incidence (per 1 000 population at risk)',
                       'New HIV infections (per 1000 uninfected population)',
                       'Married or in-union women of reproductive age who have their need for family planning satisfied with modern methods (%)',
                       ])

((ds6.isnull().sum()/ds6.isnull().count()) * 100).sort_values(ascending=False)

Indicator
Age-standardized prevalence of current tobacco smoking among persons aged 15 years and older                                                     28.019324
Population with household expenditures on health greater than 25% of total household expenditure or income  ( SDG indicator 3.8.2) (%)           26.086957
Population with household expenditures on health greater than 10% of total household expenditure or income (SDG 3.8.2) (%)                       26.086957
Estimated road traffic death rate (per 100 000 population)                                                                                       15.458937
Infant mortality rate (probability of dying between birth and age 1 per 1000 live births)                                                        14.492754
Under-five mortality rate (probability of dying by age 5 per 1000 live births)                                                                   14.492754
Ambient and household air pollution attributable death rate (per 100 000 population)                                                             11.594203
Ambient and household air pollution attributable death rate (per 100 000 population, age-standardized)                                           11.594203
Mortality rate attributed to exposure to unsafe WASH services (per 100 000 population) (SDG 3.9.2)                                               11.594203
UHC index of essential service coverage                                                                                                          11.594203
Probability (%) of dying between age 30 and exact age 70 from any of cardiovascular disease, cancer, diabetes, or chronic respiratory disease    11.111111
Healthy life expectancy (HALE) at birth (years)                                                                                                  11.111111
Crude suicide rates (per 100 000 population)                                                                                                     11.111111
Mortality rate attributed to unintentional poisoning (per 100 000 population)                                                                    11.111111
Maternal mortality ratio (per 100 000 live births)                                                                                               11.111111
Pharmacists  (per 10,000)                                                                                                                        10.628019
Births attended by skilled health personnel (%)                                                                                                  10.144928
Total (recorded+unrecorded) alcohol per capita (15+) consumption                                                                                  9.178744
Life expectancy at birth (years)                                                                                                                  8.212560
Proportion of population with primary reliance on clean fuels and technologies (%)                                                                7.729469
Dentists (per 10,000)                                                                                                                             7.729469
Medical doctors (per 10,000)                                                                                                                      6.280193
Hepatitis B surface antigen (HBsAg) prevalence among children under 5 years (%)                                                                   6.280193
Nursing and midwifery personnel (per 10,000)                                                                                                      6.280193
Incidence of tuberculosis (per 100 000 population per year)                                                                                       5.797101
Population using at least basic drinking-water services (%)                                                                                       5.797101
Population using at least basic sanitation services (%)                                                                                           5.797101
Reported number of people requiring interventions against NTDs                                                                                    5.797101
Adolescent birth rate (per 1000 women aged 15-19 years)                                                                                           5.797101
Neonatal mortality rate (per 1000 live births)                                                                                                    4.347826
Location                                                                                                                                          0.000000
dtype: float64

In [84]:
ds7 = ds6.dropna(axis = 0, how='any')
    
ds7.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100 entries, 2 to 183
Data columns (total 31 columns):
 #   Column                                                                                                                                         Non-Null Count  Dtype
---  ------                                                                                                                                         --------------  -----
 0   Location                                                                                                                                       100 non-null    object
 1   Adolescent birth rate (per 1000 women aged 15-19 years)                                                                                        100 non-null    float64
 2   Age-standardized prevalence of current tobacco smoking among persons aged 15 years and older                                                   100 non-null    float64
 3   Ambient and household air pollution attributable death rate (per 100 000 population)                                                           100 non-null    float64
 4   Ambient and household air pollution attributable death rate (per 100 000 population, age-standardized)                                         100 non-null    float64
 5   Births attended by skilled health personnel (%)                                                                                                100 non-null    float64
 6   Crude suicide rates (per 100 000 population)                                                                                                   100 non-null    float64
 7   Dentists (per 10,000)                                                                                                                          100 non-null    float64
 8   Estimated road traffic death rate (per 100 000 population)                                                                                     100 non-null    float64
 9   Healthy life expectancy (HALE) at birth (years)                                                                                                100 non-null    float64
 10  Hepatitis B surface antigen (HBsAg) prevalence among children under 5 years (%)                                                                100 non-null    float64
 11  Incidence of tuberculosis (per 100 000 population per year)                                                                                    100 non-null    float64
 12  Infant mortality rate (probability of dying between birth and age 1 per 1000 live births)                                                      100 non-null    float64
 13  Life expectancy at birth (years)                                                                                                               100 non-null    float64
 14  Maternal mortality ratio (per 100 000 live births)                                                                                             100 non-null    float64
 15  Medical doctors (per 10,000)                                                                                                                   100 non-null    float64
 16  Mortality rate attributed to exposure to unsafe WASH services (per 100 000 population) (SDG 3.9.2)                                             100 non-null    float64
 17  Mortality rate attributed to unintentional poisoning (per 100 000 population)                                                                  100 non-null    float64
 18  Neonatal mortality rate (per 1000 live births)                                                                                                 100 non-null    float64
 19  Nursing and midwifery personnel (per 10,000)                                                                                                   100 non-null    float64
 20  Pharmacists  (per 10,000)                                                                                                                      100 non-null    float64
 21  Population using at least basic drinking-water services (%)                                                                                    100 non-null    float64
 22  Population using at least basic sanitation services (%)                                                                                        100 non-null    float64
 23  Population with household expenditures on health greater than 10% of total household expenditure or income (SDG 3.8.2) (%)                     100 non-null    float64
 24  Population with household expenditures on health greater than 25% of total household expenditure or income  ( SDG indicator 3.8.2) (%)         100 non-null    float64
 25  Probability (%) of dying between age 30 and exact age 70 from any of cardiovascular disease, cancer, diabetes, or chronic respiratory disease  100 non-null    float64
 26  Proportion of population with primary reliance on clean fuels and technologies (%)                                                             100 non-null    float64
 27  Reported number of people requiring interventions against NTDs                                                                                 100 non-null    float64
 28  Total (recorded+unrecorded) alcohol per capita (15+) consumption                                                                               100 non-null    float64
 29  UHC index of essential service coverage                                                                                                        100 non-null    float64
 30  Under-five mortality rate (probability of dying by age 5 per 1000 live births)                                                                 100 non-null    float64
dtypes: float64(30), object(1)
memory usage: 25.0+ KB

In [87]:
ds7.to_csv('WHO Data for PCA.csv', index=False)